{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

{% endblock %}

{% block title %} Account {% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <div class="row justify-content-between align-items-center">
                <div class="col d-flex col-auto mr-auto">
                    <p class="mt-2">{{username}}</p>
                    <svg class="green-color" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                </div>
                <div class="col-auto mb-2 dropright {{ 'd-none' if is_bio==1 }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg>
                    <div class="dropdown-menu text-danger bg-red">
                        <p class="px-3"><small>Fill your profil to access match and search.</small></p>
                      </div>
                </div>
            </div>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {{ 'active' if onglet==None}}" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab" aria-controls="v-pills-account" aria-selected="true">Account</a>
            <a class="nav-link {{ 'active' if onglet=='historique'}}" id="v-pills-histo-tab" data-toggle="pill" href="#v-pills-histo" role="tab" aria-controls="v-pills-histo" aria-selected="false">Historic</a>

            <a class="nav-link" id="v-pills-del-tab" data-toggle="pill" href="#v-pills-del" role="tab" aria-controls="v-pills-del" aria-selected="false">Delete account</a>
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
        </div>
        <div class="col-9 bg-light">
          <div class="tab-content" id="v-pills-tabContent">
            <!--Account Section-->
            <div class="tab-pane fade {{ 'show active' if onglet==None}}" id="v-pills-account" role="tabpanel" aria-labelledby="v-pills-account-tab">
                <div class="container">
                    <div class="h2 text-deepblue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person mb-2" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg>
                        <strong>My account</strong>
                    </div>
                    <row class="row justify-content-start">
                      <!--left side-->
                      <div class="col-sm mb-2" style="max-width:270px;">
                        <a href="{{ url_for('main.profile') }}">
                          <div class="rounded-square-picture">
                              <div class="rounded-square-picture__content nophoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl" style="background-image: url({{image_profil}})"></div>
                          </div>
                        </a>
                      </div>
                      <!--right side-->
                      <!--Edit Form-->
                      <div class="col-sm">
                          {% with messages = get_flashed_messages() %}
                          {% if messages %}
                              <div class="notification is-danger">
                                  {{ messages[0] }}
                              </div>
                          {% endif %}
                          {% endwith %}
                        <!--Edit Username-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Username : </div>
                            <div class="reflist-value">{{username}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editInfoModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div>
                        <!--Edit Birthdate-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Birthdate : </div>
                            <div class="reflist-value">{{birthdate}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editInfoModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div>
                        <!--Edit Location-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Location : </div>
                            <div class="reflist-value">{{localisation}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editInfoModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div>
                        <!--Edit Email-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Email : </div>
                            <div class="reflist-value">{{email}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                            <div class="edit-icon" data-toggle="modal" data-target="#editEmailModal">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                              </svg>
                            </div>
                          </div>
                        </div>
                        <!--Edit Password-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Password : </div>
                            <div class="reflist-value">*******</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editPasswordModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div>
                        <!--Edit Firstname-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Firstname : </div>
                            <div class="reflist-value">{{firstname}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editInfoModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div>
                        <!--Edit Lastname-->
                        <div class="row justify-content-between mb-3">
                          <div class="col">
                            <div class="reflist-field">Lastname : </div>
                            <div class="reflist-value">{{lastname}}</div>
                          </div>
                          <div class="col align-self-center" style="display:flex;">
                              <div class="edit-icon" data-toggle="modal" data-target="#editInfoModal">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                  </svg>
                              </div>
                          </div>
                        </div> 

                      </div> <!--End Form-->
                    </row>
                    <!--Button Section-->
                    <div class="row justify-content-start mx-3">
                      <div class="col">
                        <a href="{{ url_for('main.editprofile') }}"><button type="button" class="btn btn-secondary">Edit profil</button></a>
                      </div>
                      <div class="col">
                        <a href="{{ url_for('main.profile') }}"><button type="button" class="btn btn-primary">Show profil</button></a>
                      </div>
                    </div>

                </div>
            </div> <!--End Account Section-->
            <!--Historique Section-->
            <div class="tab-pane fade {{ 'show active' if onglet=='historique'}}" id="v-pills-histo" role="tabpanel" aria-labelledby="v-pills-histo-tab">
              <div class="reflist">
                <!-- Reflist Title -->
                <ul class="nav nav-tabs" style="flex-wrap: nowrap;" id="refTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link link dark {{ 'active' if section=='like'}}" id="like-tab" onclick="read_notification(0, 0)" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="true">Like</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link dark {{ 'active' if section=='visit'}}" id="visit-tab" onclick="read_notification(1, 0)" data-toggle="tab" href="#visit" role="tab" aria-controls="visit" aria-selected="false">Visite</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link dark" id="blocked-tab" data-toggle="tab" href="#blocked" role="tab" aria-controls="blocked" aria-selected="false">Blocked</a>
                  </li>
                </ul>
                <div class="tab-content" id="refTabContent">
                <!--Like Sub-Section-->
                <div class="tab-pane fade {{ 'show active' if section=='like'}}" id="like" role="tabpanel" aria-labelledby="like-tab">
                  <div class="h4 text-deepblue mt-3 ml-3">
                    <strong>Person who like you </strong>
                  </div>
                  <div class="">
                    {% for i in likes_list %}
                    <div class="d-inline-flex">
                      <div class="card no-border mx-2 mb-2 mt-2" style="width: 12rem;">
                        <a href="{{ url_for('main.showprofile', username=i[1]) }}">
                          <div class="card-img-top">                                                                                                                                                                           
                            <div class="rounded-square-picture_match nophoto" data-test="profile-rounded-square-match2" data-toggle="modal" data-target="#modal-fullscreen-xl" style="min-height:12rem; background-image:url( {{i[5]}} )"></div>
                          </div>
                        </a>
                        <div class="card-body center">
                          <h4 class="card-title mb-0">{{i[1]}}</h5>
                            <small><p class="card-text text-muted mb-2">{{i[2]}} ans . {{i[3]}}</p></small>
                          </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>   
                <!--Visit Sub-Section-->
                <div class="tab-pane fade {{ 'show active' if section=='visit'}}" id="visit" role="tabpanel" aria-labelledby="visit-tab">
                  <div class="h4 text-deepblue mt-3 ml-3">
                    <strong>Person who visit your profil</strong>
                  </div>
                  <div class="">
                    {% for i in views_list %}
                    <div class="d-inline-flex">
                      <div class="card no-border mx-2 mb-2 mt-2" style="width: 12rem;">
                        <a href="{{ url_for('main.showprofile', username=i[1]) }}">
                          <div class="card-img-top">                                                                                                                                                                           
                            <div class="rounded-square-picture_match nophoto" data-test="profile-rounded-square-match2" data-toggle="modal" data-target="#modal-fullscreen-xl" style="min-height:12rem; background-image:url( {{i[5]}} )"></div>
                          </div>
                        </a>
                        <div class="card-body center">
                          <h4 class="card-title mb-0">{{i[1]}}</h5>
                            <small><p class="card-text text-muted mb-2">{{i[2]}} ans . {{i[3]}}</p></small>
                          </div>
                      </div>
                    </div>
                      
                    {% endfor %}
                  </div>
                </div>
                <!--Blocked Sub-Section-->
                <div class="tab-pane fade show" id="blocked" role="tabpanel" aria-labelledby="blocked-tab">
                  <div class="h4 text-deepblue mt-3 ml-3">
                    <strong>Person you blocked</strong>
                  </div>
                  <div class="">
                    {% for i in blocked_list %}
                    <div class="d-inline-flex">
                      <div id="{{i[0]}}block" class="card no-border mx-2 mb-2 mt-2" style="width: 12rem;">
                        <a href="{{ url_for('main.showprofile', username=i[1]) }}">
                          <div class="card-img-top">
                            <div class="rounded-square-picture_match nophoto" data-test="profile-rounded-square-match2" data-toggle="modal" data-target="#modal-fullscreen-xl" style="min-height:12rem; background-image:url( {{i[2]}} )"></div>
                          </div>
                        </a>
                        <div class="card-body center">
                          <h4 class="card-title mb-0">{{ i[1] }}</h5>
                          <small><p class="card-text text-muted mb-2">is blocked</p></small>
                          <button class="btn btn-secondary clickable" onclick="unblock_card({{ i[0] }})">Unblock</button>
                        </div>
                      </div>
                    </div>
                      
                    {% endfor %}
                  </div>
                </div>
                      
                </div>
              </div>  
            
            </div>
            <!--Delete account Section-->
            <div class="tab-pane fade" id="v-pills-del" role="tabpanel" aria-labelledby="v-pills-del-tab">
              <div class="container">
                <div class="h2 text-deepblue">
                    <strong>Delete my account</strong>
                </div>
                <p class="small">Your entire profile and your data will be deleted.  No possible recovery!<br>If you want to process, fill the below field with the sentence: Delete my account now</p>
              </div>
              <form method="POST" action="/account">
                <div class="form-group">
                        <input class="form-control" type="deletemyaccount" name="deletemyaccount" placeholder="Delete my account now" autofocus="">
                </div>
                <button type="submit" class="btn btn-primary">Delete my account</button>
              </form>
              <!--Form > email/mdp > Valider -->
              <!--Forgot password link -->
            </div>
          </div>
        </div>
      </div>
</div>


<!-- Modal -->

<!-- Edit Info Modal -->
<div class="modal fade" id="editInfoModal" tabindex="-1" role="dialog" aria-labelledby="editInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editInfoModalLabel">Edit Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/account">
            
          <div class="form-group">
            <small class="form-text text-muted">Your Username :</small>
            <input class="form-control" type="text" name="username" value="{{username}}" placeholder="Your Username" autofocus="">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Your Birthdate :</small>
            <input class="form-control" type="date" name="birthdate" value="{{birthdate}}" placeholder="Your Birthdate" autofocus="">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Your location :</small>
            <input class="form-control" type="text" name="location" value="{{localisation}}" placeholder="Your Localisation" autofocus="">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Your first name :</small>
            <input class="form-control" type="text" name="first_name" value="{{firstname}}" placeholder="Your First Name" autofocus="">
          </div>
          <div class="form-group">
            <small class="form-text text-muted">Your last name :</small>
            <input class="form-control" type="text" name="last_name" value="{{lastname}}" placeholder="Your Last Name" autofocus="">
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary center">Save change</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Edit Email Modal -->
<div class="modal fade" id="editEmailModal" tabindex="-1" role="dialog" aria-labelledby="editEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEmailModalLabel">Change email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/account">
          <div class="form-group">
            <small class="form-text text-muted">Your new email :</small>
            <input class="form-control" type="text" name="email" placeholder="New email" autofocus="">
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary center">Send activation link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Password Modal -->
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalLabel">Change your password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/account">
            
          <div class="form-group">
            <input class="form-control" type="text" name="oldpassword" placeholder="Old password" autofocus="">
            <div class="text-right">
              <a href="{{ url_for('auth.reset_page')}}" class="link-primary">Forgot password ?</a>
            </div>
          </div>

          <div class="form-group">
            <input class="form-control" type="text" name="password1" placeholder="New password" autofocus="" autocomplete="on">
          </div>
          <div class="form-group">
            <small class="form-text text-muted"><strong>
              To guarantee your account security, your password must contain:
            </strong></small>
            <small class="form-text text-muted">- At least 8 characters</small>
            <small class="form-text text-muted">- At least one letter in uppercase</small>
            <small class="form-text text-muted">- At least one letter in lowercase</small>
            <small class="form-text text-muted">- At least one digit</small>
            <input class="form-control mt-3" type="text" name="password2" placeholder="Confirm password" autofocus="">
          </div>
          <div class="center">
            <button type="submit" class="btn btn-primary">Save change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


{% endblock %}
{% block script %}

  <script src="{{url_for('static', filename='js/like.js')}}"></script>  

<script>
//unblock Gesture
function unblock_card(user_id) {
    $.ajax({
            type: 'POST',
            url: '/unblock',
            data: {"data":user_id},
            success: function(data) {
                if (data == 'KO') {
                  console.log('Une erreur est survenue');
                }
                else {
                    console.log("user "+data+" unblocked");
                    var elem_id = user_id+"block";
                    var elem = document.getElementById(elem_id);
                    elem.classList.add("d-none");
                }
            },
        });
}
</script>
{% endblock %}