{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block title %} Edit Profile {% endblock %}

{% block content %}
<div class="container">

    <!--Section Photo-->
    <div class="h2 text-deepblue">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-camera section-icon" viewBox="0 0 16 16">
            <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
            <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
        My pictures
    </div>

    <div class="container">

    <row class="row justify-content-start">
        <!--left side-->
        <div class="col" style="max-width:270px;">
            <div class="rounded-square-picture mymedium">
                {% if image_profil != 0 %}
                    <div class="rounded-square-picture__content nophoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl" style="background-image: url({{images_urls[image_profil]}})"></div>
                {% else %}
                    <div class="rounded-square-picture__content nophoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl" style="background-image: url({{images_urls['default']}})"></div>
                {% endif %}
            </div>
        </div>

        <div class="col">
            <div class="row">
            {% for i in images_urls %}
                {% if i != image_profil and i != 'default' %}
                <div class="rounded-square-picture mysmall">
                    <div class="rounded-square-picture__content addphoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl" style="background-image: url({{images_urls[i]}})"></div>
                </div>
                {% endif %}
            {% endfor %}
            {% for nombre in range(total_img, 5) %}
            <div class="rounded-square-picture mysmall">
                <div class="rounded-square-picture__content addphoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#photoModal" style="background-image: url({{images_urls['default']}})"></div>
            </div>
            {% endfor %}
            </div>
        </div>
    </row>
    <row class="row justify-content-end" style="max-width: 756px;">
        <button type="submit" class="btn btn-secondary mb-2 mr-2" data-toggle="modal" data-target="#modal-fullscreen-xl" {{ 'disabled' if total_img==0}}>Modifier</button>
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#photoModal">
            Ajouter
        </button>
    </row>

    </div>



    <!--Section Description-->
    <div class="h2 text-deepblue mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-quote section-icon" viewBox="0 0 16 16">
            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"/>
          </svg>
        Ma description
    </div>
    <div id="bio-error" class="invalid-feedback" style="display:none;">
        Une erreur est survenue
    </div>
    <div class="row justify-content-between">
        <div class="col">
                <div class="reflist-content">
                    <div class="reflist-field" id="bio">{{ bio }}</div>
                </div>
        </div>
        <div class="col align-self-center" style="display:flex;">
            <div class="edit-icon" data-toggle="modal" data-target="#editBioModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                </svg>
            </div>
        </div>
    </div>

    <!--Section Je suis-->
    <div class="h2 text-deepblue mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-card-list section-icon" viewBox="0 0 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
          </svg>
        Je suis
    </div>
    <!--Sub Section Hashtags-->
    <div class="subtitle text-deepblue">
        Mes interets
    </div>
    <div id="interest-error" class="invalid-feedback" style="display:none;">
        Une erreur est survenue
    </div>
    <ul class="list-inline" id="hashtagList">
        {% for i in interest_list %}
        <li class="list-inline-item dealbreaker">#{{ i }}</li>
        {% endfor %}
    </ul>
        <button type="submit" class="dealbreaker btn btn-primary mb-2" data-toggle="modal" data-target="#editHashtagModal">
            <strong>" + "</strong>
        </button>
    <div class="subtitle text-deepblue mb-0 mt-4">
        Informations principales
    </div>
    <small class="form-text text-muted mb-2"> Champs obligatoire pour que nous trouvons des personnes qui vous correspondent.</small>
    <div id="primary-error" class="invalid-feedback" style="display:none;">
        Une erreur est survenue
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <div class="reflist-list__item">
                <div class="reflist-content">
                    <div class="reflist-field">Mon Genre</div>
                    <div class="reflist-value" id="my-gender">{{ genre }}</div>
                </div>
            </div> 
        </div>
        <div class="col align-self-center" style="display:flex;">
            <div class="edit-icon" data-toggle="modal" data-target="#editPrimaryModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col">
            <div class="reflist-list__item">
                <div class="reflist-content">
                    <div class="reflist-field">Mon orientation sexuelle</div>
                    <div class="reflist-value" id="my-orient">{{ orientation }}</div>
                </div>
            </div> 
        </div>
        <div class="col align-self-center" style="display:flex;">
            <div class="edit-icon" data-toggle="modal" data-target="#editPrimaryModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
            </div>
        </div>
    </div>

    <!-- MODAL -->

    <!-- Modal show Photo-->
    <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog-preview" role="document">
            <div class="modal-content-preview">
                <div class="modal-header">
                    <h5 class="modal-title text-white">Picture</h5>
                    <button type="button" class="close close-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="action-image--error" class="invalid-feedback error" style="display:none;">
                    An error occur.
                </div>
                <div class="modal-body d-flex justify-content-center">
                    {% if total_img > 0 %}
                    <!-- Caroussel Modal -->
                    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          {% for i in range(1, total_img) %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                          {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{images_urls[image_profil]}})"></div>
                            <div class="carousel-caption d-md-block my_carousel_caption_top">
                                <div class="row justify-content-between mx-auto carousel-inner-icon">
                                    <button name="{{image_profil}}" class="edit-icon bg-dark-gray image_fav no-margin" onclick="set_image_profil({{image_profil}})" disabled>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                                    </button>
                                    <button id="{{image_profil}}" class="edit-icon bg-dark-gray image_other d-none" onclick="delete_image({{ image_profil}})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>  
                        </div>
                          {% for i in images_urls %}
                            {% if i != image_profil and i != 'default' %}
                                <div class="carousel-item">
                                    <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{images_urls[i]}})"></div>
                                    <div class="carousel-caption d-md-block my_carousel_caption_top">
                                        <div class="row justify-content-between mx-auto carousel-inner-icon">
                                            <button name="{{i}}" class="edit-icon bg-dark-gray image_other no-margin" onclick="set_image_profil({{i}})">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </button>
                                            <button id="{{i}}" class="edit-icon bg-dark-gray image_other" onclick="delete_image({{i}})">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% else %}
                    <h5 class="modal-title text-white">No photo yet</h5>
                {% endif%}
                </div> <!-- End Caroussel Modal -->
            </div>
        </div>
    </div> <!-- End show photo Modal -->

  <!-- Modal Add Photo-->
  <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" id="upload-file" enctype="multipart/form-data">
        <div class="modal-body center">
            <span class="text-small">Ajoutez une photo pour attirer l'attention des membres.</span>
                <!-- Modal image-->
                <div id="upload-error" class="invalid-feedback" style="display:none;">
                    Une erreur est survenue
                </div>
            <div class="row">
                <div class="col mx-auto">
                <!-- Upload image input-->
                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="upload" name="file" type="file" accept="image/*" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">...</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>
                    <!-- Uploaded image area-->
                    <p class="font-italic text-white text-center">The image uploaded will be rendered inside the box below.</p>
                    <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
                </div>
            </div> <!-- End modal image-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">retour</button>
          <button id="upload-file-btn" type="button" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Edit Biographie Modal -->
<div class="modal fade" id="editBioModal" tabindex="-1" role="dialog" aria-labelledby="editBioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editBioModalLabel">Biographie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="bio-form" method="POST">
            <div class="form-group">
                <textarea class="form-control" name="newBio" id="exampleFormControlTextarea1" rows="3" maxlength="100"></textarea>
                <div class="row">
                    <div class="col">
                        <div class="counter" id="counter"></div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary mb-2 mt-2" data-dismiss="modal">annuler</button>
                        <button id="bio-btn" type="button" class="btn btn-primary mb-2 mt-2" data-dismiss="modal" >Confirm</button>
                    </div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Edit Hashtag Modal -->
<div class="modal fade" id="editHashtagModal" tabindex="-1" role="dialog" aria-labelledby="editHashtagModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editHashtagModalLabel">My Interests</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" id="interest-form">
              <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="live-search-box form-control" placeholder="search here" />
                </div>
                    <ul class="live-search-list list-inline" type="None">
                        <li class="list-inline-item">
                            <div class="custom-control custom-checkbox mx-2 d-inline-flex">
                                <input type="checkbox" class="custom-control-input" id="1" name="check" value="1">
                                <label class="custom-control-label" for="1">Music</label>
                            </div>
                        </li>
                        <li class="list-inline-item" style="display: none;">
                            <div class="custom-control custom-checkbox mx-2 d-inline-flex">
                                <input type="checkbox" class="custom-control-input" id="2" name="check" value="2">
                                <label class="custom-control-label" for="2">Voyage</label>
                            </div>
                        </li>

                    </ul>
                  
              </div>
              <div class="center">
                <button type="submit" class="btn btn-primary center" id="interest-btn" data-dismiss="modal">Save change</button>
              </div>
            </form>
    
        </div>
      </div>
    </div>
  </div>


<!-- Edit my gender Modal -->
<div class="modal fade" id="editPrimaryModal" tabindex="-1" role="dialog" aria-labelledby="editPrimaryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPrimaryModalLabel">Primary info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" id="primary-form">
              <div class="form-group">
                <bold class="form-text text-muted">Your gender :</bold>
                <select class="form-select form-select-sm mb-3" name="newGender" aria-label="gender select">
                    <option value="0" {{ 'selected' if genre=="Non-binaire"}}>Non-binaire</option>
                    <option value="1" {{ 'selected' if genre=="Men"}} >Men</option>
                    <option value="2" {{ 'selected' if genre=="Women"}}>Women</option>
                </select>
              </div>
              <div class="form-group">
                <bold class="form-text text-muted">Your sexual orientation :</bold>
                <select class="form-select form-select-sm" name="newOrient" aria-label="orientation select">
                    <option value="0" {{ 'selected' if orientation=="Bisexuel"}}>Bisexuel</option>
                    <option value="1" {{ 'selected' if orientation=="Heterosexuel"}}>Heterosexuel</option>
                    <option value="2" {{ 'selected' if orientation=="Homosexuel"}}>Homosexuel</option>
                </select>
              </div>
              <div class="center">
                <button type="submit" class="btn btn-primary center" id="primary-btn" data-dismiss="modal">Save change</button>
              </div>
            </form>
    
          </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script>
    //Image Ajax Gesture
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });
    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );
    
    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
      document.getElementById("upload-error").style.display = "none";
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = fileName;
    }

    $(function() {
    $('#upload-file-btn').click(function(e) {
        e.preventDefault();
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadajax',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data == 'OK') {
                    document.getElementById("upload-error").style.display = "none";
                    $('#photoModal').modal('hide');
                }
                else {
                    document.getElementById("upload-error").style.display = "block";
                }
            },
        });
    });
});

//Bio Ajax Gesture
$(function() {
    $('#bio-btn').click(function(e) {
        e.preventDefault();
        var form_data = new FormData($('#bio-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/updatebio',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data == 'KO') {
                    document.getElementById("bio-error").style.display = "block";
                }
                else {
                    document.getElementById("bio-error").style.display = "none";
                    document.getElementById("bio").innerHTML = data;
                }
            },
        });
    });
});

function set_image_profil(img_id) {
    $.ajax({
            type: 'POST',
            url: '/setimageprofil',
            data: {"data":img_id},
            success: function(data) {
                if (data == 'KO') {
                    console.log("KO");
                }
                else {
                    var elements = document.getElementsByClassName('image_fav');
                    elements[0].disabled = false;
                    elements[0].classList.add("image_other");
                    var trash = document.getElementById(elements[0].name);
                    elements[0].classList.remove("image_fav");
                    trash.classList.remove("d-none");
                    var favImg = document.getElementsByName(img_id);
                    favImg[0].classList.remove("image_other");
                    favImg[0].classList.add("image_fav");
                    favImg[0].disabled = true;
                    var newTrash = document.getElementById(img_id);
                    newTrash.classList.add("d-none");
                }
            },
        });
}

function delete_image(img_id) {
    $.ajax({
            type: 'POST',
            url: '/deleteimage',
            data: {"data":img_id},
            success: function(data) {
                if (data == 'KO') {
                    console.log("KO");
                    document.getElementById("action-image--error").style.display = "block";                    
                }
                else {
                    document.getElementById("action-image--error").style.display = "none";                    
                    console.log(data);
                }
            },
        });
}


$(document).on('hidden.bs.modal', '#modal-fullscreen-xl', function (event) { 
    document.location.reload();
});

    function charCounter(input) {
        txt = input.value;
        if (txt == '') {
            document.getElementById("counter").innerHTML = "0/100";
        }
        else {
            var size = txt.length;
            document.getElementById("counter").innerHTML = size + "/100";
        }
    }

    $(function () {
        $("#exampleFormControlTextarea1").on("keyup", function() {
            charCounter(document.getElementById("exampleFormControlTextarea1"));
        });
    });

    // Hashtags Gesture
    $(function() {
    $('#interest-btn').click(function(e) {
        e.preventDefault();
        var form_data = new FormData($('#interest-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/updatehashtag',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data == 'KO') {
                    document.getElementById("interest-error").style.display = "block";
                }
                else {
                    document.getElementById("interest-error").style.display = "none";
                    for (var item in data)
                    {
                        var li = document.createElement("li");
                        li.innerHTML = "#" + data[item];
                        li.classList.add("list-inline-item");
                        li.classList.add("dealbreaker");
                        document.getElementById("hashtagList").appendChild(li);
                    }
                }
            },
        });
    });
});



    //Upd Primary info Gesture
    $(function() {
    $('#primary-btn').click(function(e) {
        e.preventDefault();
        var form_data = new FormData($('#primary-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/updateprimary',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data == 'KO') {
                    document.getElementById("primary-error").style.display = "block";
                }
                else {
                    document.getElementById("primary-error").style.display = "none";
                    document.getElementById("my-gender").innerHTML = data['gender'];
                    document.getElementById("my-orient").innerHTML = data['orient'];
                }
            },
        });
    });
});

jQuery(document).ready(function($){
  
$('.live-search-list li').each(function(){
$(this).attr('data-search-term', $(this).text().toLowerCase());
});
  
$('.live-search-box').on('keyup', function(){
  
var searchTerm = $(this).val().toLowerCase();
  
    $('.live-search-list li').each(function(){
  
        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
            $(this).show();
        } else {
            $(this).hide();
        }
  
    });
  
});
  
});


</script>
{% endblock %}