{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container-fluid bg-dark">
<div class="container">

    <h3 class="text-white">Login</h3>
    <div class="container bg-light">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
            <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Your Password">
            </div>
            <div class="form-group">
                    <input type="checkbox">
                    Remember me
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>
            Forgot Your Password?
            <a href="{{ url_for('auth.reset_page') }}">Click to Reset It</a>
        </p>
    </div>
</div>
</div>
{% endblock %}