{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/matching.css') }}">
{% endblock %}

{% block title %} Matching {% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row justify-content-start">
      <!--left side-->
      <div class="col position-fixe bg-deepblue" style="max-width:70px;">
        <ul class="list-group mt-4" style="position:fixed;">
          <li class="text-white mt-4">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#triModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
              <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg></button>
        </li>
        <li class="text-white mt-4">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#filterModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg></button>
        </li>
        </ul>
    </div>


  <div class="col">

    <!-- For loop on card -->
    <!--  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}-->
  <div class="container container-match" style="height: 35rem;">

    <!-- No more match -->
    <div class="myabsolute" style="width: 18rem; z-index: 0;">
      <H2 class="text-pink"> No match </H2>
    </div>
    <div class="">

      {% for user in all_users %}
      <div class="card myabsolute" style="width: 18rem; z-index: {{ 4-loop.index }};" id={{ user[0] }}>
      <!--Card Component-->
      <!--Caroussel Component-->
        <div id="carouselExampleIndicators{{ loop.index }}" class="carousel slide" data-interval="false" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators{{ loop.index }}" data-slide-to="0" class="active"></li>
            {% set outer_loop = loop.index %}
            {% for i in range(1, (user[6]|length +1)) %}
              <li data-target="#carouselExampleIndicators{{ outer_loop }}" data-slide-to="{{ i }}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="rounded-square-picture_match nophoto lazy" style="min-height:12rem; width:auto; background-image: url({{user[5]}})"></div>
            </div>
            {% for i in user[6] %}
            <div class="carousel-item">
              <div class="rounded-square-picture_match nophoto lazy" style="min-height:12rem; width:auto; background-image: url({{i[0]}})"></div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators{{ loop.index }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators{{ loop.index }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> 
        <!-- Card BODY component -->  
        <div class="card-body pt-1 center">
          <h5 class="card-title mb-1"><a href="{{ url_for('main.showprofile', username=user[1]) }}">{{ user[1] }}</a></h5>
          <small><p class="card-text text-muted">{{user[2]}} ans . {{user[3]}}</p></small>
          <p class="card-text"> {{ user[4] }}</p>
          <p class="card-text text-pink"> {{ user[7] }}%</p>
          <div class="row mt-2">
            <div class="col-auto mr-auto">
              <button class="btn btn-light text-muted" onclick="toggle_display_pass({{ user[0] }}, {{outer_loop }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                  <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                </svg>
              </button>
            </div>
            <div class="col-auto">
              <button class="btn btn-light text-pink" onclick="toggle_display_like({{ user[0] }}, {{outer_loop }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    </div>
  </div>
</div>

</div>

<!-- Modal Filtre -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Filtre Form-->
        <form method="POST" id="filtre-match-form">
          <!-- Age -->
          <div class="form-check d-inline">
            <input class="form-check-input" type="checkbox" name="ageFiltreCheck" id="ageFiltreCheck">
            <div class="h5 no-margin text-deepblue d-inline">Age</div>
          </div>
          <p class="no-margin">
            <label for="ageRange">Between </label>
            <input type="text" id="ageRange" readonly style="border:0;">
          </p>
          <div id="slider-range"></div>
          <input id="ageMin" name="ageMin" type="hidden" value="18">
          <input id="ageMax" name="ageMax" type="hidden" value="99">
          <!-- Localisation -->
          </br></br>
          <div class="form-check d-inline">
            <input class="form-check-input" type="checkbox" name="locFiltreCheck" id="locFiltreCheck">
            <div class="h5 no-margin text-deepblue d-inline">Location</div>
          </div>
          <label for="city">City</label>
          <input id="city" type="text" name="city"></br>
            <label for="locRange">Distance: </label> <p id="locRangeLabel" class="no-margin d-inline">5 Km</p>
            <input onchange="changeLocRange(this.value)" type="range" name="locRange" class="custom-range small-bar d-inline align-middle" min="5" max="100" step="1" id="locRange">
          <!-- Score interval -->
        </br>
          <p class="no-margin">
            <div class="form-check d-inline">
              <input class="form-check-input" type="checkbox" name="scoreFiltreCheck" id="scoreFiltreCheck">
              <div class="h5 no-margin text-deepblue d-inline">Score</div>
            </div>
            <label for="scoreRange">Between </label>
            <input type="text" id="scoreRange" readonly style="border:0;">
          </p>
          <div id="slider-score-range"></div>
          <input id="scoreMin" name="scoreMin" type="hidden" value="0">
          <input id="scoreMax" name="scoreMax" type="hidden" value="9999">
          <!-- Hashtags -->
        </br>
          <div class="form-check d-inline">
            <input class="form-check-input" type="checkbox" name="hashtagFiltreCheck" id="hashtagFiltreCheck">
            <div class="h5 no-margin text-deepblue d-inline">Hashtags</div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="live-search-box form-control" placeholder="search here" />
        </div>
            <ul class="live-search-list list-inline" type="None">
                {% for i in full_interest %}
                <li class="list-inline-item" style="display: none;">
                    <div class="custom-control custom-checkbox mx-2 d-inline-flex">
                        <input type="checkbox" class="custom-control-input" id=filtre-{{i[0]}} name="check" value={{i[0]}}>
                        <label class="custom-control-label" for=filtre-{{i[0]}}>{{ i[1] }}</label>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-auto mr-auto">
          <p class="no-padding" id="filtre-search-reset">Reset</p>
        </div>
        <div class="col-auto">
          <button type="buton" id="filtre-search-btn" class="btn btn-primary" data-dismiss="modal">Validate</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Tri -->
<div class="modal fade" id="triModal" tabindex="-1" aria-labelledby="triModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="triModalLabel">Sort</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Tri Form-->
        <form method="POST" id="tri-match-form">
          <!-- Age -->
          <div class="h5 text-deepblue">Sort by: </div>
            <div class="form-check d-inline">
              <input class="form-check-input" type="checkbox" name="ageCheck" id="ageCheck">
              <label class="form-check-label align-top" for="ageCheck">Age</label>
            </div>
            <div class="form-check d-inline no-padding">
              <label class="mycontainer d-inline align-top"><small class="gray-color">Increase</small>
                <input onchange="changeIt(this)" id="ageCheckOrder" name="ageCheckOrder" type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div></br></br>
          <!-- Distance -->
            <div class="form-check d-inline">
              <input class="form-check-input" type="checkbox" name="distCheck" id="distCheck">
              <label class="form-check-label align-top" for="distCheck">Distance</label>
            </div>
            <div class="form-check d-inline no-padding">
              <label class="mycontainer d-inline align-top"><small class="gray-color">Increase</small>
                <input onchange="changeIt(this)" id="distCheckOrder" name="distCheckOrder" type="checkbox" checked="checked">
                <span class="checkmark"></span>
              </label>
            </div></br></br>
          <!-- Score -->
          <div class="form-check d-inline">
            <input class="form-check-input" type="checkbox" name="scoreCheck" id="scoreCheck">
            <label class="form-check-label align-top" for="scoreCheck">Score</label>
          </div>
          <div class="form-check d-inline no-padding">
            <label class="mycontainer d-inline align-top"><small class="gray-color">Increase</small>
              <input onchange="changeIt(this)" id="scoreCheckOrder" name="scoreCheckOrder" type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div></br></br>
          <!-- Hashtags -->
          <div class="form-check d-inline">
            <input class="form-check-input" type="checkbox" id="hashtagCheck" name="hashtagCheck">
            <label class="form-check-label align-top" for="hashtagCheck">Hashtag</label>
          </div>
          <div class="form-check d-inline no-padding">
            <label class="mycontainer d-inline align-top"><small class="gray-color">Increase</small>
              <input onchange="changeIt(this)" id="hashtagCheckOrder" name="hashtagCheckOrder" type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <div class="col-auto mr-auto">
          <p class="no-padding" id="tri-search-reset">Reset</p>
        </div>
        <div class="col-auto">
          <button type="buton" id="tri-search-btn" class="btn btn-primary" data-dismiss="modal">Validate</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="{{url_for('static', filename='js/match.js')}}"></script>  


{% endblock %}