{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container">

    <!--Show Profile-->
    <div class="container">
    <row class="row justify-content-start">
        <!--left side-->
        <div class="col-sm" style="max-width:270px;">
            <div class="rounded-square-picture">
            {% if image_profil == [] %}
              <div class="rounded-square-picture__content nophoto no-cursor" data-test="profile-rounded-square-picture"></div>
            {% else %}
              <div class="rounded-square-picture__content nophoto" data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl" style="background-image: url({{image_profil[1]}})"></div>
            {% endif %}
            </div>
            <div class="d-inline-flex p-2">
              <img class="edit-icon mr-2 no-cursor" src="{{url_for('static', filename='img/etoile.png')}}" alt="score">
                <p class="font-weight-bold mt-1">{{score}}</p>
            </div>

            <div class="container">
              <a href="{{ url_for('main.account', onglet='historique', section='like') }}">Who liked you ? </a>
              </br></br>
              <a href="{{ url_for('main.account', onglet='historique', section='visit') }}">Who saw your profil ? </a>
            </div>



        </div>
        <!--right side-->
        <div class="col-sm">
            <div>
                <h1 class="title" style="font-size: 2.75rem; line-height: 1;">{{name}}</h1>
                {% if is_online == true %}
                <span class="profil_info"> {{age}} ans, {{localisation}} - online <?xml version="1.0" encoding="utf-8"?><svg width="10px" height="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#6BBE66;}</style><g><path class="st0" d="M61.44,0c33.93,0,61.44,27.51,61.44,61.44c0,33.93-27.51,61.44-61.44,61.44C27.51,122.88,0,95.37,0,61.44 C0,27.51,27.51,0,61.44,0L61.44,0z"/></g></svg> </span>
                {% else %}
                <span class="profil_info"> {{age}} ans, {{localisation}} - last connection: {{last_log}} <?xml version="1.0" encoding="utf-8"?><svg width="10px" height="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" style="enable-background:new 0 0 122.88 122.88" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#ff0000;}</style><g><path class="st0" d="M61.44,0c33.93,0,61.44,27.51,61.44,61.44c0,33.93-27.51,61.44-61.44,61.44C27.51,122.88,0,95.37,0,61.44 C0,27.51,27.51,0,61.44,0L61.44,0z"/></g></svg> </span>
                {% endif %}
            </div>
            <!--Hashtag list-->
        </br>
        <ul class="list-inline">
          {% for i in interest_list %}
            <li class="list-inline-item dealbreaker">#{{i}}</li>
          {% endfor %}
        </ul>

            <!--text presentation-->
            <div>
              {{desc if desc }}
            </div>
        </br>
            <!--Ref list-->
            <div class="reflist">
                  <div class="tab-content" id="refTabContent">
                    <!-- Reflist Panel Me Info-->
                    <div class="tab-pane fade show active" id="me" role="tabpanel" aria-labelledby="me-tab">
                    <!-- Reflist list Item-->
                      <div class="reflist-list__item">
                        <div class="reflist-content">
                            <div class="reflist-field">My Gender</div>
                            <div class="reflist-value">{{ genre }}</div>
                        </div>
                      </div> 
                      <div class="reflist-list__item">
                        <div class="reflist-content">
                            <div class="reflist-field">My Sexual orientation</div>
                            <div class="reflist-value">{{ orientation }}</div>
                        </div>
                      </div>

                    </div><!--End Panel Me info-->

            </div><!--End Ref list-->

        </div>

        <a href="{{ url_for('main.editprofile') }}"><button type="button" class="btn btn-primary">Edit profil</button></a>
    </row>
    </div>

</div>


    <!-- MODAL -->

    <!-- Modal show Photo-->
    <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog-preview" role="document">
          <div class="modal-content-preview">
              <div class="modal-header">
                  <h5 class="modal-title text-white">Picture</h5>
                  <button type="button" class="close close-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div id="action-image--error" class="invalid-feedback error" style="display:none;">
                  An error occur.
              </div>
              <div class="modal-body d-flex justify-content-center">
                  {% if total_img > 0 %}
                  <!-- Caroussel Modal -->
                  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% for i in range(1, total_img) %}
                          <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                        {% endfor %}
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{image_profil[1]}}"></div>
                          <div class="carousel-caption d-md-block my_carousel_caption_top">
                              <div class="row justify-content-between mx-auto carousel-inner-icon">
                                  <button class="edit-icon bg-dark-gray image_fav no-margin" disabled>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                      </svg>
                                  </button>
                              </div>
                          </div>  
                      </div>
                        {% for i in images_path %}
                              <div class="carousel-item">
                                  <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{i[1]}})"></div>
                              </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                  </div>
              {% else %}
                  <h5 class="modal-title text-white">No photo yet</h5>
              {% endif%}
              </div> <!-- End Caroussel Modal -->
          </div>
      </div>
  </div> <!-- End show photo Modal -->




{% endblock %}
