{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block title %} Profile {% endblock %}

{% block content %}
<!-- Viewers MUST be register in the user historique -->

<div class="container">
  
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

    <!-- <div class="ajax_message" id="ajax_message">
        un message d'erreur
    </div> -->

    <!--Show Profile-->
    <div class="container">
        <!-- FIXED POSITION More action (bloquer, signaler) -->
        <button id="moreActionDropdownMenuLink" class="more-action-btn btn btn-secondary"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="moreActionDropdownMenuLink">
            <p id="blockbtn" class="dropdown-item no-margin clickable {{ 'd-none' if is_block == true }}" onclick="block({{ profil[1] }})" >Block</p>
            <p id="unblockbtn" class="dropdown-item no-margin clickable {{ 'd-none' if is_block == false }}" onclick="unblock({{ profil[1] }})" >Unblock</p>
            <p class="dropdown-item no-margin clickable" onclick="report({{ profil[1] }})">Report</p>
        </div>



    <row class="row justify-content-start">
        <!--left side-->
        <div class="col-sm" style="max-width:270px;">
            <div class="rounded-square-picture">
              <div class="rounded-square-picture__content {{ 'no-cursor nophoto' if not image_profil[1]|length }}" {{ 'style=background-image:url(' + image_profil[1] + ')' if image_profil[1]|length }} data-test="profile-rounded-square-picture" data-toggle="modal" data-target="#modal-fullscreen-xl"></div>
            </div>
            <div class="d-inline-flex p-2">
                <img class="edit-icon mr-2 no-cursor" src="{{url_for('static', filename='img/etoile.png')}}" alt="score">
                <p class="font-weight-bold mt-1">{{score}}</p>
            </div>
            </br>
        
            <div class="row">
                <div class="col-2 no-padding">
                  {% if have_favimage == False %}
                    <div class="col-auto mb-2 dropright">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" width="25" height="25" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg>
                      <div class="dropdown-menu text-danger bg-red">
                        <p class="px-3"><small>Complete you're profil to like other profile.</small></p>
                      </div>
                    </div>
                  {% else %}
                    <svg id="like_img{{ profil[1] }}" onclick="like_gesture({{ profil[1] }})" class="gray-color {{ 'red-color' if like_send>0}}" xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  {% endif %}
                </div>
                <div class="col">
                    <p id="like_message{{ profil[1] }}"> {{ like_message }} </p>
                </div>
            </div>


        </div>

        <!-- Right side -->
        <div class="col-sm">

            <!-- Row Header -->
                <!-- Small Info (img, age, loc) -->
                <h1 class="title d-inline" style="font-size: 2.75rem; line-height: 1;">{{username}}</h1>
                <svg class="gray-color {{ 'green-color' if profil[9]==true}} ml-2 mb-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </br><span id="{{ profil[1] }}" class="profil_info"> {{age}} ans, {{localisation}} </span>
                <!-- Is Connected -->
                {% if profil[9] == false %}
          </br><span><small> Last log : {{ profil[10] }} </small></span>
                {% endif %}

        </br></br><span style="word-break: break-all;"> {{ name }}</span></br>

            <!--Hashtag list-->
        </br>
        <ul class="list-inline">
          {% for i in interest_list %}
            <li class="list-inline-item dealbreaker">#{{i}}</li>
          {% endfor %}
        </ul>
            <!--text presentation-->
            <div class="rounded bg-light px-2 pt-2 pb-2">
              {{desc}}
            </div>
        </br>
            <!--Ref list-->
            <div class="reflist">
                  <div class="tab-content" id="refTabContent">
                    <div class="tab-pane fade show active" id="me" role="tabpanel" aria-labelledby="me-tab">
                    <!-- Reflist list Item-->
                      <div class="reflist-list__item">
                        <div class="reflist-content">
                            <div class="reflist-field">Gender</div>
                            <div class="reflist-value">{{ genre }}</div>
                        </div>
                      </div> 
                      <div class="reflist-list__item">
                        <div class="reflist-content">
                            <div class="reflist-field">Sexual orientation</div>
                            <div class="reflist-value">{{ orientation }}</div>
                        </div>
                      </div>
                    </div>
            </div><!--End Ref list-->
        </div>
    </row>
    </div>

</div>

    <!-- MODAL -->
    <!-- Modal show Photo-->
    <div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog-preview" role="document">
          <div class="modal-content-preview">
              <div class="modal-header">
                  <h5 class="modal-title text-white">Picture</h5>
                  <button type="button" class="close close-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div id="action-image--error" class="invalid-feedback error" style="display:none;">
                  An error occur.
              </div>
              <div class="modal-body d-flex justify-content-center">
                  {% if total_img > 0 %}
                  <!-- Caroussel Modal -->
                  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        {% for i in range(1, total_img) %}
                          <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
                        {% endfor %}
                      </ol>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{image_profil[1]}}"></div>
                          <div class="carousel-caption d-md-block my_carousel_caption_top">
                              <div class="row justify-content-between mx-auto carousel-inner-icon">
                                  <button class="edit-icon bg-dark-gray image_fav no-margin" disabled>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                      </svg>
                                  </button>
                              </div>
                          </div>  
                      </div>
                        {% for i in images_path %}
                              <div class="carousel-item">
                                  <div class="d-block img-fluid svg my_bg" style="height: 70vh; background-image: url({{i[1]}})"></div>
                              </div>
                        {% endfor %}
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                  </div>
              {% else %}
                  <h5 class="modal-title text-white">No photo yet</h5>
              {% endif%}
              </div> <!-- End Caroussel Modal -->
          </div>
      </div>
  </div> <!-- End show photo Modal -->



{% endblock %}

{% block script %}

    <script src="{{url_for('static', filename='js/like.js')}}"></script>  


    <script type="text/javascript" charset="utf-8">

      $(document).ready(function() {
        add_visite();
      });


    function add_visite() {
      var elem = document.getElementsByClassName('profil_info');
      var receiver_id = elem[0].id;
      $.ajax({
        type: 'POST',
        url: '/addvisite',
        data: {"data":receiver_id},
        success: function(data) {
            if (data == "KO") {
              //console.log('Une erreur est survenue');
            }
            else {
              add_notification(receiver_id , 1, 1);
              }
        },
      });
    }

    </script>


{% endblock %}

