{% extends "base.html" %}

{% block content %}

<div class="container-fluid no-padding">

    <!-- Background image -->
    <div class="text-center">
        <h1 class="title font-weight-bold pt-4 pb-4 text-deepblue">
            Welcome!
        </h1>
    </div>
    
    <div class="row h-75 justify-content-md-center align-items-center bg-light">
        <div class="col-md-auto text-center text-deepblue">
            </br>
            <h4 class="title litte-device-title">
                You have not confirmed your account. Please check your inbox (and your spam folder) </br>- you should have received an email with a confirmation link.                
            </h4>
            </br>
            <h5 class="subtitle litte-device-txt">
                Didn't get the email? <a href="{{ url_for('auth.resend_confirmation') }}">Resend</a>.            
            </h5>
        </div>
    </div>

</div>

{% endblock %}