[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
werkzeug = "2.0.0"
pandas = "*"
itsdangerous = "*"
flask-mail = "*"
pipfile = "*"
psycopg2 = "*"
passlib = "*"
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0

[dev-packages]

[requires]
python_version = "3.9"
