[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
pandas = "*"
itsdangerous = "*"
flask-mail = "*"
flask-socketio = "~=4.3.1"
python-engineio = "~=3.13.2"
python-socketio = "~=4.6.0"
werkzeug = "~=2.0.0"
psycopg2 = "*"
requests = "*"
geopy = "*"
passlib = "*"
boto3 = "*"
bcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
