/* Navigation Custom */
.navbar {
    max-width : 140px;
}

.nav_margin {
    margin-right: 0.4em;
    margin-top: 0.7em;
}

.myicon {
    width : 24px;
    height : 24px;
}

/********************************/
/*          Media Query         */
/********************************/

/* Navigation Custom */
@media screen and (max-width: 400px) {
    .myicon {
        width : 12px;
        height : 12px;
    }
    .counter {
        font-size: 50%;
    }
  }


