
/************************************/
/*         Error/Success            */
/************************************/

.ajax_message {
    align-content: center;
    border-radius: 20rem;
    border-width : 2px;
    border-style: solid;
    text-align: center;
}

.msg-error{
    color:#c20000;
    background-color: #d69f9f;
    border-color : #c20000;
}

.msg-success {
    color:#00c2ab;
    background-color:#a6d7d2;
    border-color : #00c2ab;
}



/********************************/
/*         Navigation           */
/********************************/
.navbar {
    max-width : 140px;
}

.nav_margin {
    margin-right: 0.4em;
    margin-top: 0.7em;
}

ul {
    list-style-type: none;
  }

.myicon {
    width : 24px;
    height : 24px;
}

.no-padding {
    padding:0;
}

.no-margin {
    margin:0;
}

.bg-image { 
    /* The image used */
    /*background-image: url('/static/img/bg-home.jpeg');*/
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.text-pink {
    color: #ed147d;
  }

.text-white {
    color: white;
  }

.text-deepblue {
    color: rgb(31, 47, 73);
  }

.yellow-color {
    color:yellow;
}

.gray-color {
    color:rgb(160, 159, 159);
}

.green-color {
    color:#00c2ab;
}

.red-color {
    color:#c20000!important;
}

.bg-dark-gray {
    background-color: rgb(87, 86, 86)!important;
}

.bg-red {
    background-color: rgb(251, 236, 239);
}

.bg-blue {
    background-color: rgb(205, 229, 250);
}

.container {
    padding-top:1.5em;
    padding-bottom: 1.5em;
}

.center {
    text-align: center;
}



/********************************/
/*          Media Query         */
/********************************/

/* Navigation Custom */
@media screen and (max-width: 440px) {
    .myicon {
        width : 12px;
        height : 12px;
    }
    .counter {
        font-size: 50%;
    }
    .nav-link{
        padding: 0;
    }
  }

  @media screen and (max-width: 620px) {

    .navbar-brand, .list-inline-item {
        margin-right: 0px!important;
    }

  }

